
<!-- header -->
<div class="header">

	<div class="topbar">
		<div class="icon"><img src="images/topbar_icon.gif" /></div>
		<div class="text">To calculate your affordavility visit: myfinancialfit.com</div>
		<div class="link"><a href="javascript:void(0);">advertise</a><a href="javascript:void(0);">help</a></div>
	</div>

	<div class="toolbar">
		<a href="<%= root_url %>" class="logo"><img src="images/logo.png" /></a>
		<div class="accmenu">
			<% if user_signed_in? %>
				<%= link_to "", edit_user_registration_path, :class => "acc" %>
			<% else %>
				<%= link_to "Sign Up", new_user_registration_path %>
				<span>|</span>
				<%= link_to "Sign In", new_user_session_path %>
			<% end %>
		</div>
		<%= render :partial => 'shared/menu' %>
	</div>

	<div class="sign">
		<span>The college website for parents.</span>
		<%= link_to "", new_user_registration_path %>
	</div>

</div>
<!-- End header -->
