
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= browser_title(yield(:title)) %></title>
<%= stylesheet_link_tag 'base' %>
<%= stylesheet_link_tag 'styles' %>
<!--[if IE 6]><script type="text/javascript" src="js/pngfix.js"></script><![endif]-->
<%= javascript_include_tag '/javascripts/jquery-1.6.2.min.js' %>
<%= javascript_include_tag '/javascripts/function.js' %>
<%= javascript_include_tag '/javascripts/cufon-yui.js' %>
<%= javascript_include_tag '/javascripts/fonts/Century_Gothic_700.font.js' %>
<%= javascript_include_tag '/javascripts/fonts/Rockwell_400.font.js' %>

<script type="text/javascript">
	Cufon.replace(['.topmenu span','.sign span','.searchbar .text','.welcome .left b','.slider .title','.textbox p.tt b', '.textbox p b'], {
		hover: true,
		fontFamily: 'Century Gothic'
	});
	Cufon.replace(['.blog h1','.blog h3','.routes','.video_list h3'], {
		hover: true,
		fontFamily: 'Rockwell'
	});
</script>
</head>

<body>

<%= render :partial => "/shared/header" -%>

<!-- content -->
<div class="content">
	<%= yield %>

	<div class="clear"></div>
</div>
<!-- End content -->

<%= render :partial => "/shared/footer" -%>
<%= render :partial => "/shared/javascripts" %>

</body>
</html>
